<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .nav {
      h2 {
        color: red;
      }

      a { 
        margin-right: 8px;
        text-decoration: none;
        color: black;
        padding: 8px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 600;
      }

      a:hover {
        background-color: lightgray;
      }
    }

    .container {
        margin-top: 16px;
        position: relative;
        border: 2px solid blue;
        padding: 8px;
        border-radius: 8px;

        .react {
            border-color: green;
        }

        .ng {
            border-color: red;
        }

        .react-vite {
            border-color: violet;
        }
      
        .label {
          position: absolute;
          top: -10px;
          padding: 0 8px;
          background-color: white;
        }
    }

  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Root Config</title>

  <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';">
  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

    1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - https://github.com/umdjs/umd
    3. Global variable

    More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->
  <script type="systemjs-importmap" src="/import-map-shared.json">
  </script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

  <!-- Add your organization's prod import map URL to this script's src  -->
  <!-- <script type="systemjs-importmap" src="/importmap.json"></script> -->
  <% if (isLocal) { %>
  <script type="systemjs-importmap" src="/import-map.json"></script>
  <% } %>

  <!--
    If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
    Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs
  -->
  <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <% if (isLocal) { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  <% } else { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <% } %>

  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</head>
<body class="container">
  <div class="label">Root config</div>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script>
    System.import('@cristian/root-config');
  </script>

  <h1> Common layout for microfrontends </h1>
  <nav id="nav" class="nav">
    <div>
        <h2>App routes</h2>
        <a href="/react"> 🔗React </a>
        <a href="/react-vite"> 🔗React Vite </a>
        <a href="/ng-app"> 🔗Angular </a>
    </div>
  </nav>
</body>
</html>
